
  html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.3vw solid rgb(0, 0, 0);
    width: 91%;
    height: 4.8vw;
    margin: 1vw auto;
}

.menuText{
    margin: auto 0px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    font-family: Cygre;
    font-size: 1.2vw;
}

.about p a{
    text-decoration: none;
    color: black;
}

.about p :hover,  .services p :hover,  .contacts p :hover, .portfolio p :hover{
    color: rgb(134, 134, 134);
}

.services p a{
    text-decoration: none;
    color: black;
}

.portfolio p a{
    text-decoration: none;
    color: black;
}

.contacts p a{
    text-decoration: none;
    color: black;
}

.logo{
    margin: auto 0px;
    width: auto;
    height: 3.5vw;
}

.logo img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.main{
    margin-top: 2vw;
    margin-left: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.main img{
    margin-top: 2vw;
}

.mainText{
    width: 91%;
    margin: auto;
    font-family: Cygre;
}

.interior{
    text-align: right;
    font-size: 7.5vw;
}

.architectural{
    text-align: right;
    font-size: 7.5vw;
    white-space: nowrap;
}

.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.studio{
    font-size: 7.5vw;
}

.consultation{
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    width: 17vw;
    height: 5vw;
    border-radius: 3vw;
    background-color: black;
}

.constAll{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.consultation p{
    color: white;
}

.consultation a{
    text-decoration: none;
    line-height: 1px;
}

.consultation :hover{
    cursor: pointer;
}

.constAll a :hover{
    color: rgb(134, 134, 134);
}

.consultationPic{
    transform: translateY(-70%);
    width: 3vw;
    height: 3vw;
}

.consultationPic img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.aboutStudio{
    width: 91%;
    height: auto;
    margin: 4vw auto;
}

.textAboutStudio{
    border-bottom: 0.3vw solid rgb(0, 0, 0);
    font-family: Cygre;
    font-size: 7.5vw;
}

.studioInform{
    margin-top: 1.2vw;
    padding-bottom: 1.2vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
    font-family: Cygre;
    border-bottom: 0.3vw solid rgb(0, 0, 0);
}

.studioInformEmpty{
    width: 30%;
    height: auto;
}

.studioInformLeft{
    width: 30%;
    height: auto;
}

.studioInformRight{
    width: 30%;
    height: auto;
}

.picWorkArch{
    margin-top: 1.2vw;
    padding-bottom: 1.2vw;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-bottom: 0.3vw solid rgb(0, 0, 0);
}

.picWorkArchLeft{
    width: 49%;
    height: auto;
}

.picWorkArchLeft img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.picWorkArchRight{
    width: 49%;
    height: auto;
}

.picWorkArchRight img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.servicesInfo{
    width: 91%;
    height: auto;
    margin: 4vw auto;
}

.textAboutServices{
    border-bottom: 0.3vw solid rgb(0, 0, 0);
    font-family: Cygre;
    font-size: 7.5vw;
}

.servicesContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    font-family: Cygre;
    margin-top: 1.2vw;
    padding-bottom: 1.2vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3vw solid rgb(0, 0, 0);
}

.buildingArchitect{
    width: 23%;
    height: auto;
    text-align: left;
}

.buildingArchitect h1{
    margin-top: 1vw;
    font-size: 2vw;
}

.buildingArchitect p{
    margin-top: 1vw;
    font-size: 1.2vw;
}

.buildingArchitect img{
    object-fit: cover;
    height: auto;
    width: 100%;
}

.designInterior{
    width: 23%;
    height: auto;
    text-align: left;
}

.designInterior h1{
    margin-top: 1vw;
    font-size: 2vw;
}

.designInterior p{
    margin-top: 1vw;
    font-size: 1.2vw;
}

.designInterior img{
    object-fit: cover;
    height: auto;
    width: 100%;
}

.landscapeDesign{
    width: 23%;
    height: auto;
    text-align: left;
}

.landscapeDesign h1{
    margin-top: 1vw;
    font-size: 2vw;
}

.landscapeDesign p{
    margin-top: 1vw;
    font-size: 1.2vw;
}

.landscapeDesign img{
    object-fit: cover;
    height: auto;
    width: 100%;
}

.restoration{
    width: 23%;
    height: auto;
    text-align: left;
}

.restoration h1{
    margin-top: 1vw;
    font-size: 2vw;
}

.restoration p{
    margin-top: 1vw;
    font-size: 1.2vw;
}

.restoration img{
    object-fit: cover;
    height: auto;
    width: 100%;
}

.backButton{
    position: fixed;
    display: flex;
    align-items: center;
    left: 96.5%;
    top: 92.5%;
    width: 2.5vw;
    height: 3.5vw;
}

.backButton img{
    object-fit: cover;
    height: auto;
    width: 100%;
}

.portfolioContainer{
    margin: 4vw auto;
    width: 91%;
    height: auto;
    overflow: hidden;
}

.portfolioText{
    width: 100%;
    border-bottom: 0.3vw solid rgb(0, 0, 0);
    font-family: Cygre;
    font-size: 7.5vw;
}

.portfolioSlider{
    margin-top: 1.2vw;
    margin-left: auto;
    width: 100%;
    height: 51vw;
    border-bottom: 0.3vw solid rgb(0, 0, 0);
}

.portfolioSliderLine{
    display: flex;
    width: 500%;
    height: auto;
    position: relative;
    left: 0;
}

.arch{
    margin-left: auto;
    display: flex;
    width: 90vw;
    position: relative;
}

.arch img{
    object-fit: fill;
    width: 100%;
}

.inter{
    margin-left: auto;
    display: flex;
    width: 90vw;
    position: relative;
}

.restore{
    margin-left: auto;
    display: flex;
    width: 90vw;
    position: relative;
}

.inter img{
    object-fit: fill;
    width: 100%;
}

.restore img{
    object-fit: fill;
    width: 100%;
}

.land{
    margin-left: auto;
    display: flex;
    width: 90vw;
    position: relative;
}

.land img{
    object-fit: fill;
    width: 100%;
}

.arch2{
    margin-left: auto;
    display: flex;
    width: 90vw;
    position: relative;
}

.arch2 img{
    object-fit: fill;
    width: 100%;
}

.buttonSlider{
    transform: translateY(-100%);
    position: relative;
    top: -2vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: auto;
}

.buttonLeft{
    width: 3vw;
    height: 3vw;
}

.buttonLeft :hover{
    cursor: pointer;
}

.buttonLeft img{
    object-fit: cover;
    height: auto;
    width: 100%;
}

.buttonRight{
    width: 3vw;
    height: 3vw;
}

.buttonRight :hover{
    cursor: pointer;
}

.buttonRight img{
    object-fit: cover;
    height: auto;
    width: 100%;
}

.archInfo, .interInfo, .restoreInfo, .landInfo, .arch2Info{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 8vw;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.archInfo p, .interInfo p, .restoreInfo p, .landInfo p, .arch2Info p{
    color: rgb(0, 0, 0);
    font-family: Cygre;
    font-size: 3vw;
}

.archInfoMore p, .interInfoMore p, .restoreInfoMore p, .landInfoMore p, .arch2InfoMore p{
    color: rgb(0, 0, 0);
    font-size: 1.2vw;
    white-space: nowrap;
}

.askUsContainer{
    margin: auto;
    width: 91%;
    height: auto;
    margin-top: 4vw;
}

.formSender{
    display: flex;
    flex-direction: column;
}

.wrapper{
    flex-grow: 1;
 } 

.form {
    width: 100%;
    margin-top: 1.2vw;
    font-family: Cygre;
}

.form__group input, .form__group label, .form__group textarea {
    display: block;
    width: 100%;
}

.form__group input {
    margin-top: 0.5vw;
    padding-left: 1vw;
    font-family: Cygre;
    font-size: 1.2vw;
    height: 3vw;
    background-color: rgb(219, 219, 219);
    border-width: 0;
    margin-bottom: 1.2vw;
    outline: 0;
    outline-offset: 0;
}

.form__group label {
    font-size: 1.2vw;
}

.form__submit-button button {
    background-color: rgb(255, 255, 255);
    padding: 0;
    border-width: 0;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
 
.buttonSend{
    display: flex;
    align-items: center;
    width: 17vw;
    text-wrap: nowrap;
    height: 5vw;
    background-color: rgb(255, 255, 255);
    border: 0.3vw solid rgb(0, 0, 0);
    border-radius: 3vw;
}

.buttonSend :hover{
    color: rgb(134, 134, 134);
}

.form__send-result{
    margin-top: 1.2vw;
    text-align: center;
    font-size: 1.2vw;
} 

.askUsContainerText{
    border-bottom: 0.3vw solid rgb(0, 0, 0);
    font-family: Cygre;
    font-size: 7.5vw;
}

.contactsContainer{
    margin: auto;
    width: 91%;
    height: auto;
    margin-top: 4vw;
    padding-bottom: 1.2vw;
    border-bottom: 0.3vw solid rgb(0, 0, 0);
}

.contactsContainerText{
    border-bottom: 0.3vw solid rgb(0, 0, 0);
    font-family: Cygre;
    font-size: 7.5vw;
}

.contactsInform{
    margin-top: 1.2vw;
    display: flex;
    justify-content: space-between;
    font-family: Cygre;
    border-bottom: 0.3vw solid rgb(0, 0, 0);
    padding-bottom: 1.2vw;
}

.contactsInformEmpty{
    width: 30%;
    height: auto;
}

.contactsInformLeft{
    font-size: 1.2vw;
    width: 30%;
    height: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactsInformTopMail{
    margin-top: 1.2vw;
}

.contactsInformRight{
    font-size: 1.2vw;
    width: 30%;
    height: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactsInformTop{
    width: 100%;
    height: 9.5vw;
}

.map{
    margin-top: 1.2vw;
}

.footer{
    margin: 4vw auto;
    width: 91%;
    height: auto;
    font-family: Cygre;
    font-size: 1.2vw;
    border-top: 0.3vw solid rgb(0, 0, 0);
}

.footerText{
    margin-top: 1.2vw;
    display: flex;
    justify-content: space-between;
}